body {
    font-family: sans-serif;
	margin: 0;
}


.main-box {
    background: teal;
    color: #FFF;
    text-align: center;
    padding: 106px 0;
}

.main-box h1 {
    font-size: 50px;
    margin-bottom: 20px;
	margin-top: 0;
	color: #f7f8f9;
}

.main-box span {
    font-size: 22px;
	color: #f7f8f9;
}

.text-box {
    width: calc(50% - 10px);
    float: left;
	margin-top: 30px;
}

.text-box label {
    display: block;
    font-size: 19px;
    margin-bottom: 10px;
	color: #1e2124;
}

.input-box {
    padding-left: 10px;
    padding-right: 10px;
}

.text-box input {
    width: 100%;
    border: 1px solid #c7ced4;
    border-radius: 2px;
    font-size: 20px;
    padding: 6px;
	box-sizing: border-box;
}

.text-box-2 {
    float: right;
}

input.submit {
    border: 1px solid #106dfb;
    color: #106dfb;
    background: no-repeat;
    box-shadow: none;
    font-size: 21px;
    border-radius: 7px;
    padding: 6px 19px;
    margin-top: 20px;
	cursor: pointer;
}

.result-box .error {
	display: none;
}

.result-box {
    padding: 18px 10px;
}

.error {
    color: red;
    font-weight: bold;
}

.count {
    color: teal;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0px;
	display: none;
}

.number-list {
    color: red;
    font-weight: bold;
    margin-top: 12px;
    font-size: 20px;
	display: none;
	word-break: break-all;
}

@media (max-width:900px) {
	.text-box {
		width: 100%;
		float: none;
	}
}